* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.quiz-container {
    display: flex;
    flex-direction: column;  
    width: 30rem;
    background-color: aliceblue;
}

#question-container {
    padding: 2rem;   
}

#question {
    text-align: center;
    margin: 0 0 1rem;
}

#next-btn, #restart-btn {
    height: 2rem;
}

.hide {
    display: none;
}

#btn {
    height: 2rem;

}
